{% extends 'partials/base.html.twig' %}

{% set me = attribute(page.media.images, header.pics.me) %}
{% set work = attribute(page.media.images, header.pics.work) %}
{% set after_work = attribute(page.media.images, header.pics.private) %}

{% block stylesheets %}
  {{ parent() }}
  {% do assets.addCss('theme://css-compiled/diamonds.css') %}
{% endblock %}
{% block header %}
{% endblock %}
{% block rawbody %}
</head>
<body id="top" class="{{ page.header.body_classes }}">
  <div class="diamond-menu_container">
    <div class="diamond-menu">
      <a class="diamond" href="{{ header.links.me }}">
        {{ me.html() }}
      </a>
      <a class="diamond" href="{{ header.links.work }}">
        {{ work.html() }}
      </a>
      <a class="diamond" href="{{ header.links.private }}">
        {{ after_work.html() }}
      </a>
      <span class="diamond-spacer">&#x2663</span>
    </div>
  </div>
  </body>
</html>
{% endblock %}
